<header>
  <div class="logo"><%= image_tag('picklebrawl2.png', alt: 'Logo') %></div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
      <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to 'About', about_path %></li>
      <li class="<%= 'active' if current_page?(gallery_path) %>"><%= link_to 'Gallery', gallery_path %></li>
    </ul>
  </nav>
</header>
