<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5a693db774.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag '_header', media: 'all' %>
  <%= stylesheet_link_tag 'index', media: 'all' %>
  <%= stylesheet_link_tag 'about', media: 'all' %>
  <%= stylesheet_link_tag 'gallery', media: 'all' %>
  <%= stylesheet_link_tag 'show_images', media: 'all' %>
  <%= javascript_importmap_tags %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Sedgwick+Ave&display=swap" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlanta Picklebrawl</title>
  </head>
  <body>
    <%=render 'home/header'%>
    <%= yield %>
    <%= javascript_include_tag '_header' %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <%= javascript_include_tag 'index' %>
  </body>
</html>
